.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

[data-theme="light"] .project .back {
  color: var(--background);
  mix-blend-mode: difference;
}

[data-theme="dark"] .project .back {
  color: var(--foreground);
  mix-blend-mode: difference;
}

.project .back {
  position: fixed;
  top: 5vh;
  right: 5vw;
  opacity: 0;
  z-index: 10001;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

.project .projectHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--omelia-bg);
  position: relative;
  z-index: 10000;
}

.project .projectHeader .projectHeaderContent h1.projectTitle {
  font-size: 10vw;
  font-weight: 400;
  color: var(--omelia-color);
  text-transform: uppercase;
  opacity: 0;
  transform: scale(1.15) translateY(40px);
}

.project .projectBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--background);
}

.project .projectBody .projectDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 8rem;
  padding: 180px 5vw 30px 5vw;
}

.project .projectBody .projectDescription .projectDescriptionTitle {
  width: 40%;
  font-size: 2.8rem;
  line-height: 1em;
  margin: 0;
}

.project .projectBody .projectDescription .projectDescriptionContent {
  width: 60%;
  font-size: 1.3rem;
  line-height: 1.5em;
  color: var(--foreground);
}

.project
  .projectBody
  .projectDescription
  .projectDescriptionContent
  .projectDescriptionText {
  margin: 0;
}

.project
  .projectBody
  .projectDescription
  .projectDescriptionContent
  .projectDescriptionTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 70px 0;
  text-transform: uppercase;
}

.project .projectNext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}

.project .projectNext .projectNextButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

.project .projectNext .projectNextTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.project .projectNext .projectNextTextContainer p {
  font-size: 10vw;
  font-weight: 400;
  color: var(--foreground);
  text-transform: uppercase;
}

@media all and (max-width: 1024px) {
  .project .projectBody .projectDescription {
    flex-direction: column;
    gap: 4rem;
  }

  .project .projectBody .projectDescription .projectDescriptionTitle {
    width: 100%;
  }

  .project .projectBody .projectDescription .projectDescriptionContent {
    width: 100%;
  }
}

@media all and (max-width: 425px) {
  .project
    .projectBody
    .projectDescription
    .projectDescriptionContent
    .projectDescriptionTags {
    flex-direction: column;
    align-items: flex-start;
  }

  .project
    .projectBody
    .projectDescription
    .projectDescriptionContent
    .projectDescriptionTags
    p {
    margin: 0;
  }
}
