.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: none;
}

.titleContainer .back {
  position: fixed;
  top: 5vh;
  right: 5vw;
  opacity: 0;
  z-index: 10001;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.titleContainer .titleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 5vw;
}

.titleContainer .titleContent .title {
  font-size: 16vw;
  font-weight: 400;
  opacity: 0;
  transform: scale(1.15) translateY(40px);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutContainer .figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.aboutContainer .figure p {
  z-index: 20;
  font-size: 12px;
  margin: 0;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0;
}

.aboutContainer .infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  min-height: 100vh;
  width: 950px;
  margin: 0 auto;
}

.aboutContainer .infoSection .infoTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.aboutContainer .infoSection .infoTitle h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.sectionsContainer .infoSection .infoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.aboutContainer .infoSection .infoContent .infoDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutContainer .infoSection .infoContent .infoDescription p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 5vw;
  text-align: center;
  text-transform: uppercase;
}

.aboutContainer .figure2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 43vh;
  z-index: 51;
  position: relative;
}

.aboutContainer .figure2 h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

@media all and (max-width: 1024px) {
  .aboutContainer .infoSection {
    width: 90%;
  }

  .aboutContainer .infoSection .infoTitle h2 {
    font-size: 32px;
  }
}

@media all and (max-width: 600px) {
  .aboutContainer .infoSection .infoTitle h2 {
    font-size: 24px;
  }

  .aboutContainer .infoSection .infoContent .infoDescription p {
    font-size: 14px;
  }
}
