.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: none;
}

.title-container .back {
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 999;
}

.title-container .title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 5vw;
}

.title-container .title-content .title {
  font-size: 16vw;
  font-weight: 400;
}

.sections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sections-container .figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sections-container .figure p {
  z-index: 20;
  font-size: 12px;
  margin: 0;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0;
}

.sections-container .info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  min-height: 100vh;
  width: 950px;
  margin: 0 auto;
}

.sections-container .info-section .info-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.sections-container .info-section .info-title h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.sections-container .info-section .info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sections-container .info-section .info-content .info-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sections-container .info-section .info-content .info-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  padding: 0 5vw;
  text-align: center;
  text-transform: uppercase;
}

.sections-container .figure2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 43vh;
}

.sections-container .figure2 h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
