.about-container .back {
  position: fixed;
  top: 5vh;
  right: 5vw;
}

.about-container .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 5vw;
}

.about-container .about-content .info-title {
  font-size: 14vw;
  line-height: 1em;
  margin: 0;
}
