.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8c0d0d;
  padding: 0 5vw;
}

.project .back {
  position: fixed;
  top: 5vh;
  right: 5vw;
  opacity: 0;
  z-index: 999;
}

.project .project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.project .project-header .project-header-content h1.project-title {
  font-size: 16vw;
  font-weight: 400;
  color: var(--foreground);
  text-transform: uppercase;
  opacity: 0;
  transform: scale(1.15) translateY(40px);
}
