.loadingScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--background);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
}

.loadingScreenContainer .loadingScreenContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 5vw;
}

.loadingScreenContainer .loadingScreenContent p.loadingNumber {
  color: var(--foreground);
  transition: opacity 0.8s ease;
  position: relative;
  transform: scale(1.15);
}

.fadeOut {
  opacity: 0;
}
