.contact .back {
  position: fixed;
  top: 5vh;
  right: 5vw;
  opacity: 0;
  z-index: 10001;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.contact .contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.contact .contactContainer .contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5vw;
  opacity: 0;
  transform: scale(1.15) translateY(40px);
}

.contact .contactContainer .contactContent .emailLink a,
.contact .contactContainer .contactContent .linkedinLink a {
  color: inherit;
  text-decoration: none;
  font-size: 16vw;
  line-height: 1em;
}
