.theme-switcher {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

.theme-switcher span {
  color: var(--foreground);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-league-spartan);
}
