:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
}

:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-league-spartan);
  line-height: 1.2rem;
  min-height: 100vh;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
