@font-face {
  font-family: "LS-Regular";
  src: url("/fonts/League-Spartan/LeagueSpartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LS-Medium";
  src: url("/fonts/League-Spartan/LeagueSpartan-Medium.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "LS-Regular", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.2rem;
  min-height: 100vh;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
