:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
  --fading-hell-color: #8c0d0d;
  --unveiled-islam-color: #d62b18;
  --terror-incident-color: #b00020;
  --arabiannights: #2c2836;
}

:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
  --fading-hell-color: #8c0d0d;
  --unveiled-islam-color: #d62b18;
  --terror-incident-color: #b00020;
  --arabian-nights-color: #2c2836;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --fading-hell-color: #8c0d0d;
    --unveiled-islam-color: #d62b18;
    --terror-incident-color: #b00020;
    --arabian-nights-color: #2c2836;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-league-spartan);
  line-height: 1.2rem;
  min-height: 100vh;
  width: 100%;
  transition: background-color 0.5s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
