.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.container .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 252px;
  white-space: nowrap;
  overflow: hidden;
}

.container .navigation .first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container .navigation .first-row h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.container .navigation .first-row .logo {
  width: 1em;
  height: 1em;
}

.container .navigation .second-row {
  width: 100%;
}

.container .navigation .second-row h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 0;
}

.container .navigation .third-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container .navigation .third-row p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.container .navigation .fourth-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 0;
}

.container .navigation ul.fourth-row {
  list-style: none;
  padding: 0;
}

.container .navigation ul.fourth-row li {
  font-size: 16px;
  margin: 0;
}

.sections-container .nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sections-container .nav p {
  padding-bottom: 20vh;
  z-index: 20;
}

.sections-container .nav2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sections-container .nav2 p {
  z-index: 20;
}
