.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: none;
}

.sectionsContainer {
  padding: 0 5vw;
}

.container .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15.8em;
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  transform: scale(1.15);
  line-height: 1.2;
}

@keyframes scale-move {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0% 0 0);
  }
}

.container .navigation .row {
  animation-name: scale-move;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  clip-path: inset(0 100% 0 0);
  overflow: hidden;
}

.container .navigation .firstRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  width: 100%;
}

.container .navigation .firstRow h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.container .navigation .secondRow {
  height: 21px;
  width: 100%;
}

.container .navigation .secondRow h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 0;
}

.container .navigation .thirdRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  width: 100%;
}

.container .navigation .thirdRow p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.container .navigation .fourthRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 0;
}

.container .navigation ul.fourthRow {
  list-style: none;
  padding: 0;
}

.container .navigation ul.fourthRow li {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.container .navigation ul.fourthRow li .buttonLink {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

.sectionsContainer .figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sectionsContainer .figure p {
  z-index: 20;
  font-size: 12px;
  margin: 0;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0;
  text-transform: uppercase;
  opacity: 1;
}

.sectionsContainer .figure2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sectionsContainer .figure2 p {
  z-index: 20;
  font-size: 12px;
  margin: 0;
  padding-bottom: 2rem;
  opacity: 0;
  text-transform: uppercase;
}

.sectionsContainer .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  min-height: 100vh;
}

.sectionsContainer .project .projectTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.sectionsContainer .project .projectTitle .projectTitleButton {
  font-size: 10vw;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.sectionsContainer .project .projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sectionsContainer .project .projectContent .projectFigureImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 50;
}

.sectionsContainer .project .projectContent .projectFigureImage .projectImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sectionsContainer
  .project
  .projectContent
  .projectFigureImage
  .projectImage
  .projectImageButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.sectionsContainer
  .project
  .projectContent
  .projectFigureImage
  .projectImage
  img {
  width: 100%;
  height: 900px;
}

[data-theme="light"]
  .sectionsContainer
  .project
  .projectContent
  .projectFigureImage {
  filter: brightness(0) saturate(100%) invert(0%);
}

[data-theme="dark"]
  .sectionsContainer
  .project
  .projectContent
  .projectFigureImage {
  filter: brightness(0) saturate(100%) invert(100%);
}

@media all and (max-width: 768px) {
  .sectionsContainer .project .projectTitle {
    height: 50vh;
  }

  .sectionsContainer
    .project
    .projectContent
    .projectFigureImage
    .projectImage
    img {
    width: 100%;
  }
}

@media all and (max-width: 425px) {
  .sectionsContainer .project {
    justify-content: space-between;
  }

  .sectionsContainer .project .projectTitle {
    height: auto;
  }

  .sectionsContainer .project .projectContent .projectFigureImage {
    height: auto;
  }

  .sectionsContainer
    .project
    .projectContent
    .projectFigureImage
    .projectImage
    img {
    height: auto;
  }
}

@media all and (max-width: 320px) {
  .sectionsContainer .project {
    min-height: 80vh;
  }
}
