.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: none;
}

.container .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15.8em;
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  transform: scale(1);
}

.container .navigation .row {
  animation-name: scale-move;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.container .navigation .first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  width: 100%;
}

.container .navigation .first-row h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.container .navigation .second-row {
  height: 21px;
  width: 100%;
}

.container .navigation .second-row h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
}

.word-placeholder {
  display: inline-block;
  min-width: 1ch;
}

.word-placeholder-inner {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
}

.container .navigation .third-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  width: 100%;
}

.container .navigation .third-row p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.container .navigation .fourth-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 0;
}

.container .navigation ul.fourth-row {
  list-style: none;
  padding: 0;
}

.sections-container .figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sections-container .figure p {
  z-index: 20;
  font-size: 12px;
  margin: 0;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0;
  text-transform: uppercase;
  opacity: 1;
}

.sections-container .figure2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sections-container .figure2 p {
  z-index: 20;
  font-size: 12px;
  margin: 0;
  padding-bottom: 2rem;
  opacity: 0;
  text-transform: uppercase;
}

.sections-container .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  min-height: 100vh;
}

.sections-container .project .project-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.sections-container .project .project-title h2 {
  font-size: 10vw;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.sections-container .project .project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sections-container .project .project-content .project-figure-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 50;
}

.sections-container
  .project
  .project-content
  .project-figure-image
  .project-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sections-container
  .project
  .project-content
  .project-figure-image
  .project-image
  img {
  width: 720px;
  height: 900px;
}

@keyframes scale-move {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0% 0 0);
  }
}
