.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: none;
}

.container .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 252px;
  white-space: nowrap;
  overflow: hidden;
  transform: scale(1.1);
}

.container .navigation .first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container .navigation .first-row h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.container .navigation .second-row {
  width: 100%;
}

.container .navigation .second-row h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 0;
}

.container .navigation .third-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container .navigation .third-row p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.container .navigation .fourth-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 0;
}

.container .navigation ul.fourth-row {
  list-style: none;
  padding: 0;
}

.container .navigation ul.fourth-row li {
  font-size: 16px;
  margin: 0;
}

.sections-container .figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sections-container .figure p {
  z-index: 20;
  font-size: 12px;
  margin: 0;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0;
}

.sections-container .figure2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 120vh;
  margin: 0;
}

.sections-container .figure2 p {
  z-index: 20;
  font-size: 12px;
  margin: 0;
  padding-bottom: 2rem;
}

.sections-container .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  min-height: 100vh;
}

.sections-container .project .project-content h2 {
  font-size: 16vw;
  font-weight: 400;
  margin: 0;
}
