.loading-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--background);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
}

.loading-screen-container .loading-screen-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 5vw;
}

.loading-screen-container .loading-screen-content p.loading-number {
  color: white;
  transition: opacity 0.8s ease;
  position: relative;
}

.fadeOut {
  opacity: 0;
}
